<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>double</key>
		<string>3.14</string>
		<key>doubleReference</key>
		<string>@double</string>
		<key>float</key>
		<string>2.71</string>
		<key>floatReference</key>
		<string>@float</string>
		<key>integer</key>
		<string>42</string>
		<key>integerReference</key>
		<string>@integer</string>
		<key>string</key>
		<string>string</string>
		<key>stringReference</key>
		<string>@string</string>
		<key>boolean</key>
		<string>true</string>
		<key>booleanReference</key>
		<string>@boolean</string>
		<key>colorHex</key>
		<string>222222</string>
		<key>colorReference</key>
		<string>@colorHex</string>
		<key>colorRGBA</key>
		<string>200.200.200.50</string>
		<key>font</key>
		<dict>
			<key>name</key>
			<string>Helvetica</string>
			<key>size</key>
			<string>24</string>
		</dict>
		<key>systemFont</key>
		<dict>
			<key>size</key>
			<string>20</string>
		</dict>
		<key>UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>backgroundColor</key>
			<string>#3E5BA0</string>
			<key>systemFont</key>
			<dict>
				<key>size</key>
				<string>12</string>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Helvetica</string>
				<key>size</key>
				<string>20</string>
			</dict>
		</dict>
		<key>UILabel2</key>
		<dict>
			<key>backgroundColor</key>
			<string>#E21313</string>
		</dict>
		<key>view</key>
		<dict>
			<key>backgroundColor</key>
			<string>F0F0F0</string>
		</dict>
		<key>UILabelReferences</key>
		<string>@label</string>
		<key>fontReference</key>
		<string>@font</string>
	</dict>
</dict>
</plist>
